{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "CPQ Web API help"
    },
    "host": "sandbox.webcomcpq.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/v1/admin/Admin/GenerateSecretKey": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Generates the secret key suitable for SHA-256.",
                "operationId": "Admin_GenerateSecretKey",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/ApprovalHistory/GetApprovalHistoryModelInit": {
            "get": {
                "tags": [
                    "ApprovalHistory"
                ],
                "summary": "Gets the initial approval history model.",
                "operationId": "ApprovalHistory_GetApprovalHistoryModelInit",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "rc",
                        "in": "query",
                        "description": "The crypted cart id.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ro",
                        "in": "query",
                        "description": "The crypted owner id.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.ApprovalHistory.ApprovalHistoryResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/ApprovalHistory/GetApprovalHistoryModelInitData": {
            "get": {
                "tags": [
                    "ApprovalHistory"
                ],
                "summary": "Gets the initial approval history model.",
                "operationId": "ApprovalHistory_GetApprovalHistoryModelInitData",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "quoteId",
                        "in": "query",
                        "description": "The cart id.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "ownerId",
                        "in": "query",
                        "description": "The owner id.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.ApprovalHistory.ApprovalHistoryResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/ApprovalHistory/GetApprovalHistoryModel": {
            "get": {
                "tags": [
                    "ApprovalHistory"
                ],
                "summary": "Gets the approval history model.",
                "operationId": "ApprovalHistory_GetApprovalHistoryModel",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "filter.currentPage",
                        "in": "query",
                        "description": "Gets or sets the current page.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter.itemsPerPage",
                        "in": "query",
                        "description": "Gets or sets the items per page.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "filter.sortMethod",
                        "in": "query",
                        "description": "Gets or sets the sort method.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter.orderByColumn",
                        "in": "query",
                        "description": "Gets or sets the order by column.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter.search",
                        "in": "query",
                        "description": "Gets or sets the search.",
                        "required": false,
                        "type": "object"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.ApprovalHistory.ApprovalHistoryResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/Approvals/GetApprovalModel": {
            "get": {
                "tags": [
                    "Approvals"
                ],
                "summary": "Gets the approval model.",
                "operationId": "Approvals_GetApprovalModel",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.Approvals.ApprovalResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/Approvals/GetOneClickApprovalResponse": {
            "get": {
                "tags": [
                    "Approvals"
                ],
                "summary": "Gets the one click approval response.",
                "operationId": "Approvals_GetOneClickApprovalResponse",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ownerId",
                        "in": "query",
                        "description": "The owner identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "cartId",
                        "in": "query",
                        "description": "The cart identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "actionId",
                        "in": "query",
                        "description": "The action identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.Approvals.ApprovalsLandingResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/Approvals/ExecuteAction": {
            "post": {
                "tags": [
                    "Approvals"
                ],
                "summary": "Executes the action.",
                "operationId": "Approvals_ExecuteAction",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "description": "The data.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.Approvals.ExecuteActionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.Approvals.ApprovalResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/Approvals/RetractApprovalProcess": {
            "post": {
                "tags": [
                    "Approvals"
                ],
                "summary": "Retract approval process action.",
                "operationId": "Approvals_RetractApprovalProcess",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "comment",
                        "in": "query",
                        "description": "Retract explanation comment.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.Approvals.ApprovalResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/Approvals/RetractExpiredApprovalRules": {
            "post": {
                "tags": [
                    "Approvals"
                ],
                "summary": "Retract expired approval rules - rules which are rejected and not violated anymore.",
                "operationId": "Approvals_RetractExpiredApprovalRules",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.Approvals.ApprovalResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/AssetDefinition/GetInitData": {
            "get": {
                "tags": [
                    "AssetDefinition"
                ],
                "summary": "Gets the initialize data.",
                "operationId": "AssetDefinition_GetInitData",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Admin.Assets.AssetDefinitionResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/AssetDefinition/SaveAssetDefinition": {
            "post": {
                "tags": [
                    "AssetDefinition"
                ],
                "summary": "Saves the asset definition.",
                "operationId": "AssetDefinition_SaveAssetDefinition",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "fields",
                        "in": "body",
                        "description": "The fields.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.Configurator.Core.AssetFieldDefinition"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Admin.Assets.AssetDefinitionResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/AssetDefinition/GenerateSecretKey": {
            "get": {
                "tags": [
                    "AssetDefinition"
                ],
                "summary": "Generates the secret key suitable for SHA-256.",
                "operationId": "AssetDefinition_GenerateSecretKey",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/Assets/GetInitData": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "summary": "Gets the initialize data.",
                "operationId": "Assets_GetInitData",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.Assets.AssetsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/Assets/GetData": {
            "post": {
                "tags": [
                    "Assets"
                ],
                "summary": "Gets the data.",
                "operationId": "Assets_GetData",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "The request.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.Assets.AssetsListRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.Assets.AssetsResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/Assets/SaveFilter": {
            "post": {
                "tags": [
                    "Assets"
                ],
                "summary": "Saves the filter.",
                "operationId": "Assets_SaveFilter",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "The request.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RD.Assets.AssetsListRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.StatusVm"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/rd/v1/Assets/RenewAssets": {
            "post": {
                "tags": [
                    "Assets"
                ],
                "summary": "Renews the assets.",
                "operationId": "Assets_RenewAssets",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "selectedAssets",
                        "in": "body",
                        "description": "The selected assets.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.RedirectResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/{id}": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets the attribute with the provided ID",
                "description": "Retrieves the attribute with the provided ID.",
                "operationId": "Attribute_Get",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attribute identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attribute with the requested ID.",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Public.Attributes.VM.AttributeVM"
                        }
                    },
                    "400": {
                        "description": "Invalid ID value."
                    },
                    "401": {
                        "description": "Authentication failed."
                    },
                    "404": {
                        "description": "Attribute with the requested ID not found."
                    },
                    "500": {
                        "description": "Error getting attribute."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Updates an attribute with the provided ID",
                "description": "AttributeVM needs to follow attribute validation rules.",
                "operationId": "Attribute_Update",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "attributeVM",
                        "in": "body",
                        "description": "Attribute VM",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Public.Attributes.VM.AttributeVM"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attribute identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated attribute."
                    },
                    "400": {
                        "description": "Invalid AttributeVM values."
                    },
                    "401": {
                        "description": "Authentication failed."
                    },
                    "409": {
                        "description": "The attributeID of AttributeVM doesn't match the ID from the route."
                    },
                    "500": {
                        "description": "Error updating attribute."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Deletes an attribute",
                "description": "Deletes an attribute with the provided ID.",
                "operationId": "Attribute_Delete",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Removed attribute with the specified identifier."
                    },
                    "400": {
                        "description": "Attribute cannot be deleted."
                    },
                    "401": {
                        "description": "Authentication failed."
                    },
                    "404": {
                        "description": "Attribute with the requested ID not found."
                    },
                    "500": {
                        "description": "Error deleting attribute."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets attributes",
                "description": "This endpoint supports OData filtering. Example:    /api/products/v1/attributes?$filter=name like 'memory'The following attribute properties are available to OData, and have specific support for $filter option:                  name - $filter eq,ne,like     systemId - $filter eq,ne,like     type - $filter eq,ne,like     typeLabel - $filter eq,ne,like,     numberOfValues - $filter eq,lt,gt,ge,le     externalId - $filter eq,ne,like     modifiedBy - $filter eq,ne,like     modifiedOn - $filter eq,lt,gt,ge,le     containsPersonallyIdentifiableInformation - $filter eq,ne            Additional OData options are available for properties listed above:                  $orderby={properties name} {desc/asc}         $top={number} {default is 10, max is 100}         $skip={number}   Additional query strings:      dictionaryId - translates attribute fields for the provided dictionary. If translation for a certain attribute field doesn't exist, it will return the value from the definition.    This query string needs to be an integer.            For more information look at OData syntax documentation: https://www.odata.org/documentation/odata-version-2-0/uri-conventions/",
                "operationId": "Attribute_Get",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Attributes for request.",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.Public.Attributes.VM.AttributeVM]"
                        }
                    },
                    "400": {
                        "description": "Invalid request options."
                    },
                    "401": {
                        "description": "Authentication failed."
                    },
                    "500": {
                        "description": "Error getting attributes."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Creates a new attribute",
                "description": "AttributeVM needs to follow attribute validation rules.",
                "operationId": "Attribute_Save",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "attributeVM",
                        "in": "body",
                        "description": "Attribute VM",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Public.Attributes.VM.AttributeVM"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.Configurator.SetupSPA.Models.APIResponse"
                        }
                    },
                    "201": {
                        "description": "Attribute is created. The route to the attribute can be found in response header's 'location' section."
                    },
                    "400": {
                        "description": "Invalid AttributeVM values."
                    },
                    "401": {
                        "description": "Authentication failed."
                    },
                    "500": {
                        "description": "Error saving attribute."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/measurements": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets measurements",
                "operationId": "Attribute_GetAllMeasurements",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Returned list of measurements.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    },
                    "500": {
                        "description": "Error getting measurements."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/types": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Get all attribute types",
                "operationId": "Attribute_GetAttributeTypes",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Returned list of all attribute types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM[System.String]"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    },
                    "500": {
                        "description": "Error getting attribute types."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/systemId": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Get a system ID of the attribute",
                "description": "Example:     api/products/v1/attributes/systemId?name='some attribute'",
                "operationId": "Attribute_GetSystemId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Returned newly generated system ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/value/systemId": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets the system ID of the attribute value",
                "description": "Example:     api/products/v1/attributes/value/systemId?name='some attribute value'    segregationOfDuties",
                "operationId": "Attribute_GetValueSystemId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Returned newly generated system ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/{id}/values/maxRank": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets the maximum rank of attribute values for the provided attribute ID",
                "operationId": "Attribute_GetMaxAttributeValueRank",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attribute ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned max attribute value rank.",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/{id}/values": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets the attribute values for the attribute with the provided ID",
                "operationId": "Attribute_GetAttributeValues",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attribute ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of all values.",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/{id}/containerAttributeValues": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets the container attribute values for the attribute with the provided ID",
                "operationId": "Attribute_GetContainerAttributeValues",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attribute ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned attribute values.",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.Public.Attributes.VM.ContainerAttributeValueRowVM]"
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/values/billingPeriods": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets billing periods",
                "operationId": "Attribute_GetAttributeValuesBillingPeriods",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Returned attribute value billing periods.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/values/units": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets attribute value units",
                "operationId": "Attribute_GetAttributeValueUnits",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Returned attribute value units.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/{id}/values/newSystemIds": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets new unique system IDs for all attribute values with the provided ID",
                "operationId": "Attribute_GetNewAttribteValuesSystemIds",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attribute ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned unique system IDs for attribute values with the provided ID.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM[System.Int32]"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/{id}/translation/{dictionaryId}": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets the translated attribute definition with values",
                "operationId": "Attribute_GetAttributeTranslation",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "dictionaryId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Public.Attributes.VM.TranslatedAttributeVM"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/{attributeId}/translation": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets all attribute translations for each dictionary for values, and for conatiners",
                "operationId": "Attribute_GetAllAttributeTranslations",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "attributeId",
                        "in": "path",
                        "description": "AttributeId",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.Public.Attributes.VM.TranslatedAttributeVM"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/{id}/translation": {
            "post": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Create new attribute translations if the translations don't exist.If translations exist, update them. Create new attribute translations for copy attribute",
                "operationId": "Attribute_SaveAttributeTranslations",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "AttributeId",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "attributeTranslations",
                        "in": "body",
                        "description": "List of attribute translations for each dictionary",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.Public.Attributes.VM.TranslatedAttributeVM"
                            }
                        }
                    },
                    {
                        "name": "isCopy",
                        "in": "query",
                        "description": "Is copy of attribute",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/container/totalTypes": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets container column total types",
                "operationId": "Attribute_GetContainerTotalTypes",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Returned container column total types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/container/dataTypes": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets container column data types",
                "operationId": "Attribute_GetContainerDataTypes",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Returned container column data types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/container/column/displayTypes": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets container column display types",
                "operationId": "Attribute_GetContainerDisplayTypes",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "isProductPartNumber",
                        "in": "query",
                        "description": "Is container column product part number",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned container column display types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/container/columnTypes": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets container column types",
                "operationId": "Attribute_GetContainerColumnTypes",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "isProductContainer",
                        "in": "query",
                        "description": "Is product container",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned container column types.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/container/column/displayTypes/attribute/{id}": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets container column display types for the attribute",
                "operationId": "Attribute_GetContainerDisplayTypesForAttribute",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The attribute identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned container column display types for an attribute with the provided ID.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/autocomplete/customtable/{id}": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets the custom table columns",
                "operationId": "Attribute_GetCustomTableColumns",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned custom table columns.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.Public.Attributes.VM.AutocompleteTableColumnVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/autocomplete/customtable/{id}/name": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets the custom table name",
                "operationId": "Attribute_GetCustomTableName",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned the custom table name.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/autocomplete/quotetable/{id}": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets the quote table columns",
                "operationId": "Attribute_GetQuoteCustomTableColumns",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned quote table columns.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.Public.Attributes.VM.AutocompleteTableColumnVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/autocomplete/quotetable/{id}/name": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets the quote table name",
                "operationId": "Attribute_GetQuoteTableName",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned the quote table name.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/{id}/values/{valueId}/products": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Returns the list of products in which this attribute value is used",
                "operationId": "Attribute_GetListOfProductWhereAttributeValueIsInUse",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "valueId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products/v1/attributes/{id}/usage": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Gets list of objects in which this attribute is used.",
                "operationId": "Attribute_GetAttributeUsageInformation",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The attribute identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attribute with the requested ID.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Webcom.API.Public.Attributes.VM.AttributeUsageVM"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed."
                    },
                    "404": {
                        "description": "Attribute with the requested ID not found."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/files/AttributeImage": {
            "get": {
                "tags": [
                    "AttributeImage"
                ],
                "operationId": "AttributeImage_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "AttributeImage"
                ],
                "summary": "Updates files",
                "operationId": "AttributeImage_Put",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "AttributeImage"
                ],
                "summary": "Creates new files",
                "operationId": "AttributeImage_Post",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/files/AttributeImage/{id}": {
            "get": {
                "tags": [
                    "AttributeImage"
                ],
                "summary": "Gets specified file",
                "operationId": "AttributeImage_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "File name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "AttributeImage"
                ],
                "summary": "Updates specified file",
                "operationId": "AttributeImage_Put",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Name of the file to update",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "AttributeImage"
                ],
                "summary": "Deletes specified file",
                "operationId": "AttributeImage_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "File name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/files/AttributeImage": {
            "get": {
                "tags": [
                    "AttributeImage"
                ],
                "operationId": "AttributeImage_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "AttributeImage"
                ],
                "summary": "Updates files",
                "operationId": "AttributeImage_Put",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "AttributeImage"
                ],
                "summary": "Creates new files",
                "operationId": "AttributeImage_Post",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/files/AttributeImage/{id}": {
            "get": {
                "tags": [
                    "AttributeImage"
                ],
                "summary": "Gets specified file",
                "operationId": "AttributeImage_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "File name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "AttributeImage"
                ],
                "summary": "Updates specified file",
                "operationId": "AttributeImage_Put",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Name of the file to update",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "AttributeImage"
                ],
                "summary": "Deletes specified file",
                "operationId": "AttributeImage_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "File name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "jwtAuth": []
                    },
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/AttributeTranslationImportExport/GetInitData": {
            "get": {
                "tags": [
                    "AttributeTranslationImportExport"
                ],
                "summary": "Gets the initialize data.",
                "operationId": "AttributeTranslationImportExport_GetInitData",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Admin.AttributeTranslationImportExport.AttributeTranslationImportExportResponse"
                        }
                    }
                },
                "security": [
                    {
                        "sessionAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/auditTrail/userAction": {
            "get": {
                "tags": [
                    "AuditTrail"
                ],
                "summary": "Gets the user action audit trail records.",
                "description": "This endpoint supports custom filtering and pagination.Example:setup/api/v1/admin/auditTrail?userAction?performer_like=jsmith&amp;offset=10&amp;limit=10The result can be filtered with the following properties using only the listed operators:                 id - ne,eq,lt,gt,ge,le,in     performer - eq,ne,like     quote - eq,ne,like     quoteRevision - eq,ne,like     quoteStatus - eq,ne,like     quoteItem - eq,ne,like     product - eq,ne,like     attribute - eq,ne,like     action - eq,ne,like     field - eq,ne,like     oldValue - eq,ne,like     newValue - eq,ne,like     page - eq,ne,like     date - eq,lt,gt,ge,le            There are additional options available for request:                 sort={-/+}{property name}     limit={number}     offset={number}",
                "operationId": "AuditTrail_GetUserAction",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Paged records of user action audit trail for request parameters.",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.UserActionVM]"
                        }
                    },
                    "400": {
                        "description": "Invalid request options."
                    },
                    "403": {
                        "description": "Authentication/Authorization failed."
                    },
                    "500": {
                        "description": "Error getting the user action audit trail logs."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/auditTrail/adminAction": {
            "get": {
                "tags": [
                    "AuditTrail"
                ],
                "summary": "Gets the admin action audit trail records.",
                "description": "This endpoint supports custom filtering and pagination.Example:setup/api/v1/admin/auditTrail?adminAction?entity_like=View&amp;offset=10&amp;limit=10The result can be filtered with the following properties using only the listed operators:                 id - ne,eq,lt,gt,ge,le,in      performer - eq,ne,like     entity - eq,ne,like     entityId - eq,ne,like     sessionId - eq,ne,like     changeSetSystemId - eq,ne,like     changeStep - ne,eq,lt,gt,ge,le,in     product - eq,ne,like     action - eq,ne,like     field - eq,ne,like     oldValue - eq,ne,like     newValue - eq,ne,like     date - eq,lt,gt,ge,le            There are additional options available for request:                 sort={-/+}{property name}     limit={number}     offset={number}",
                "operationId": "AuditTrail_GetAdminAction",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Paged records of admin action audit trail for request parameters.",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.AdminAuditTrailVM]"
                        }
                    },
                    "400": {
                        "description": "Invalid request options."
                    },
                    "403": {
                        "description": "Authentication/Authorization failed."
                    },
                    "500": {
                        "description": "Error getting the admin action audit trail logs."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/auditTrail/productAction": {
            "get": {
                "tags": [
                    "AuditTrail"
                ],
                "summary": "Gets the product action audit trail records.",
                "description": "This endpoint supports custom filtering and pagination.Example:setup/api/v1/admin/auditTrail?productAction?product_like=stuff&amp;offset=10&amp;limit=10The result can be filtered with the following properties using only the listed operators:                 id - ne,eq,lt,gt,ge,le,in      performer - eq,ne,like     product - eq,ne,like     productSystemId - eq,ne,like     attribute - eq,ne,like     attributeValue - eq,ne,like     attributeSystemId - eq,ne,like     changeSetSystemId - eq,ne,like     changeStep - ne,eq,lt,gt,ge,le,in     ruleMessage - eq,ne,like     action - eq,ne,like     field - eq,ne,like     oldValue - eq,ne,like     newValue - eq,ne,like     date - eq,lt,gt,ge,le            There are additional options available for request:                 sort={-/+}{property name}     limit={number}     offset={number}",
                "operationId": "AuditTrail_GetProductAction",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Paged records of product action audit trail for request parameters.",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.ProductActionVM]"
                        }
                    },
                    "400": {
                        "description": "Invalid request options."
                    },
                    "403": {
                        "description": "Authentication/Authorization failed."
                    },
                    "500": {
                        "description": "Error getting the product action audit trail logs."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/auditTrail/pricebookAction": {
            "get": {
                "tags": [
                    "AuditTrail"
                ],
                "summary": "Gets pricebook audit trail.",
                "description": "This endpoint supports custom filtering and pagination.Example:setup/api/v1/admin/auditTrail?pricebookAction?pricebook_like=stuff&amp;offset=10&amp;limit=10The result can be filtered with the following properties using only the listed operators:                 id - ne,eq,lt,gt,ge,le,in      performer - eq,ne,like     pricebook - eq,ne,like     partNumber - eq,ne,like     priceCode - eq,ne,like     changeSetSystemId - eq,ne,like     changeStep - ne,eq,lt,gt,ge,le,in     action - eq,ne,like     field - eq,ne,like     oldValue - eq,ne,like     newValue - eq,ne,like     date - eq,lt,gt,ge,le            There are additional options available for request:                 sort={-/+}{property name}     limit={number}     offset={number}",
                "operationId": "AuditTrail_GetPricebookAction",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Paged records of pricebook action audit trail for request parameters.",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.ProductActionVM]"
                        }
                    },
                    "400": {
                        "description": "Invalid request options."
                    },
                    "403": {
                        "description": "Authentication/Authorization failed."
                    },
                    "500": {
                        "description": "Error getting the pricebook action audit trail logs."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/auditTrail/customTableAction": {
            "get": {
                "tags": [
                    "AuditTrail"
                ],
                "summary": "Gets the custom table action audit trail records.",
                "description": "This endpoint supports custom filtering and pagination.Example:setup/api/v1/admin/auditTrail?customTableAction?entity_like=stuff&amp;offset=10&amp;limit=10The result can be filtered with the following properties using only the listed operators:                 id - ne,eq,lt,gt,ge,le,in     performer - eq,ne,like     entity - eq,ne,like     entityId - eq,ne,like     changeSetSystemId - eq,ne,like     changeStep - ne,eq,lt,gt,ge,le,in     action - eq,ne,like     field - eq,ne,like     oldValue - eq,ne,like     newValue - eq,ne,like     date - eq,lt,gt,ge,le            There are additional options available for request:                 sort={-/+}{property name}     limit={number}     offset={number}",
                "operationId": "AuditTrail_GetCustomTableAction",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Paged records of custom table action audit trail for request parameters.",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.ProductActionVM]"
                        }
                    },
                    "400": {
                        "description": "Invalid request options."
                    },
                    "403": {
                        "description": "Authentication/Authorization failed."
                    },
                    "500": {
                        "description": "Error getting the custom table action audit trail logs."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/auditTrail/attributeAction": {
            "get": {
                "tags": [
                    "AuditTrail"
                ],
                "summary": "Gets the attribute action audit trail records.",
                "description": "This endpoint supports custom filtering and pagination.Example:setup/api/v1/admin/auditTrail?attributeAction?entity=stuff&amp;offset=10&amp;limit=10The result can be filtered with the following properties using only the listed operators:                 id - ne,eq,lt,gt,ge,le,in      performer - eq,ne,like     entity - eq,ne,like     entityId - eq,ne,like     changeSetSystemId - eq,ne,like     changeStep - ne,eq,lt,gt,ge,le,in     action - eq,ne,like     field - eq,ne,like     oldValue - eq,ne,like     newValue - eq,ne,like     date - eq,lt,gt,ge,le            There are additional options available for request:                 sort={-/+}{property name}     limit={number}     offset={number}",
                "operationId": "AuditTrail_GetAttributeAction",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Paged records of attribute action audit trail for request parameters.",
                        "schema": {
                            "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.ProductActionVM]"
                        }
                    },
                    "400": {
                        "description": "Invalid request options."
                    },
                    "403": {
                        "description": "Authentication/Authorization failed."
                    },
                    "500": {
                        "description": "Error getting the attribute action audit trail logs."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/brimProvider/{isConnected}": {
            "post": {
                "tags": [
                    "BRIMProvider"
                ],
                "summary": "Save BRIM Provider Connected Param",
                "operationId": "BRIMProvider_SaveBrimProviderConnectedParameter",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "isConnected",
                        "in": "path",
                        "description": "IsConnected",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/brimProvider": {
            "get": {
                "tags": [
                    "BRIMProvider"
                ],
                "summary": "Get BRIM Provider Connected Parameter",
                "operationId": "BRIMProvider_GetBrimProviderConnectedParameter",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/setup/api/v1/admin/brimProvider/parameters": {
            "get": {
                "tags": [
                    "BRIMProvider"
                ],
                "summary": "Get Contract Duration Default Parameters",
                "operationId": "BRIMProvider_GetContractDurationDefaultParameters",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
[...]
